<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Records</title>
</head>
<body>
<h1>All Records</h1>
<p>Records are auto created when a new user is added and auto updated when a new workout is added to make sure your personal records are up to date.</p>
<p>When a user is deleted, his/here records are also deleted.</p>
<table>
    <thead>
    <tr>
        <th>User Code</th>
        <th>Fastest Time</th>
        <th>Longest Distance</th>
        <th>Max Weight Lifted</th>
        <th>Longest Workout Duration</th>
        <th>Most Calories Burned</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${records}">
        <td th:text="${record.userCode}"></td>
        <td th:text="${record.fastestTime}"></td>
        <td th:text="${record.longestDistance}"></td>
        <td th:text="${record.maxWeightLifted}"></td>
        <td th:text="${record.longestWorkoutDuration}"></td>
        <td th:text="${record.mostCaloriesBurned}"></td>
    </tr>
    </tbody>
</table>
<a href="/"><button>Back</button></a>
</body>
</html>
