<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
<h1>Users List</h1>

<!-- Display list of users -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Fitness Goals</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.height}"></td>
        <td th:text="${user.weight}"></td>
        <td th:text="${user.fitnessGoals}"></td>
    </tr>
    </tbody>
</table>

<!-- Button to add a new user -->
<a href="/userForm"><button>Create New User</button></a>

</body>
</html>
