<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
<h1>Create New User</h1>

<form action="/users/add" method="post">
    <!--    <div>-->
    <!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
    <!--    </div>-->
<!--    <div>-->
<!--        <label for="userCode">User Code:</label>-->
<!--        <input type="text" id="userCode" name="userCode" required />-->
<!--    </div>-->
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required />
    </div>
    <div>
        <label for="height">Height:</label>
        <input type="text" id="height" name="height" required />
    </div>
    <div>
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight" required />
    </div>
    <div>
        <label for="fitnessGoals">Fitness Goals:</label>
        <input type="text" id="fitnessGoals" name="fitnessGoals" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="male">Male:</label>
        <input type="checkbox" id="male" name="male" />
    </div>
    <button type="submit">Add User</button>
</form>

<h1>Users List</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Fitness Goals</th>
        <th>Email</th>
        <th>Male</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.height}"></td>
        <td th:text="${user.weight}"></td>
        <td th:text="${user.fitnessGoals}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.male ? 'Yes' : 'No'}"></td>
        <td>
            <a th:href="@{/users/edit(userCode=${user.userCode})}">Edit</a>
            <form th:action="@{/users/delete(userCode=${user.userCode})}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<a href="/"><button>Back</button></a>
</body>
</html>
